<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Apprenticeship Application</h1>
  <p>This is my application for the apprenticeship program. In order to view the About page, which talks about problems I've solved and the cool things that came out of solving those problems, you'll need to sign up for the site. Otherwise, you'll be redirected to the login page if you try to access it.</p>
</div>
