<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Support Dashboard</h1>
  <p>This is my application for the apprenticeship program. It is the beginnings of a support dashboard that I have wanted to make for the support team.</p>
</div>
<p>You will find my application in the about page. Feel free to use the links at the top right to create a user and sign onto the app. That will allow you to visit the suggestions page to view leave suggestions for the support team.</p>
