<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Support Dashboard</h1>
  <p>This is my application for the apprenticeship program. It is the beginnings of a support dashboard that I have wanted to make for the support team.</p>
</div>
<p>You will find my application in the about page. Feel free to use the links at the top right to create a user and sign onto the app. This is a fake support dashboard site that is something that I've been wanting to create for the different automation scripts that I've built in support so the other team members have access to them as well. Once you're signed in, you'll be allowed to visit the support suggestions page to view and leave suggestions for the support team.</p>
