@import "bootstrap";
@import "bootstrap-sprockets";

/* color scheme */
$off_white: #E3FBFF;
$dark_gray: #717D7F;
$light_gray: #B6C9CC;
$dark_blue: #4B787F;
$light_blue: #96F0FF;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

/* header */
header {
}

/* footer */

footer {
  color: #777;

  hr {
    display: block;
    border: 3px solid #aaa;
    border-radius: 5px;
  }

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  
  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
