@import "bootstrap-sprockets";
@import "bootstrap";

/* color scheme */
$off_white: #CEECFF;
$dark_gray: #67767F;
$light_gray: #A5BDCC;
$dark_blue: #41677F;
$light_blue: #81CEFF;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}
h1, h2 {
  color: $dark_blue;
}

p {
  color: $dark_gray;
}

a {
  color: $light_blue;
  &:hover {
    color: $light_gray;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

form {
  color: $dark_gray;

  .btn-primary {
    background-color: $dark_blue;
    border-color: $dark_blue;
    color: $off_white;
    &:hover {
      background-color: $dark_gray;
      border-color: $dark_gray;
      color: $off_white;
    }
  }
  .checkbox {
    margin-left: 0px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
    input[type="checkbox"] {
      margin-left: -3px;
    }
  }
}

.extra-bottom-padding {
  margin-bottom: 10px;
}

/* alerts */
.alert-notice { @extend .alert-success }
.alert-alert  { @extend .alert-danger }
.alert-error  { @extend .alert-danger }

/* header */
header {
  background-color: $dark_blue;
  ul.nav {
    a {
      color: $light_gray;
      &:hover {
        background-color: $dark_blue;
        color: $light_blue;
      }
    }
  }
}

/* footer */
footer {
  color: #777;

  hr {
    display: block;
    border: 3px solid #aaa;
    border-radius: 5px;
    border-color: $dark_gray;
  }

  small {
    float: left;
    color: $dark_blue;
    margin-bottom: 25px;
  }
}

/* main page jumbotron */
.jumbotron {
  background-color: $light_gray;
  color: $dark_blue;
  h1 {
    color: $dark_gray;
  }
}

/* suggestions */

.suggestions {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    background-color: $dark_blue;
    margin-bottom: 5px;
    border-radius: 20px;
  }
  .user-email {
    margin-left: 60px;
    padding-top: 0;
    color: $light_gray;
  }
  .content {
    display: block;
    color: $off_white;
    margin-left: 60px;
    margin-right: 60px;
    word-wrap: break-word;
  }
  .timestamp {
    color: $light_gray;
    display: block;
    margin-top: -.5em;
    margin-left: 60px;
  }
}

.suggestion-form {
  margin-top: 10px;
  margin-right: 550px;
  textarea {
    height: 100px;
  }
  .btn_primary {
    margin-right: 225px;
    border-radius: 10px;
    background-color: $light_blue;
    border-color: $light_blue;
    color: $dark_blue;
    &:hover {
      background-color: $light_gray;
      border-color: $light_gray;
      color: $off_white;
    }
  }
}

