@import "bootstrap";
@import "bootstrap-sprockets";

/* color scheme */
$off_white: #CEECFF;
$dark_gray: #67767F;
$light_gray: #A5BDCC;
$dark_blue: #41677F;
$light_blue: #81CEFF;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

/* header */
header {
  background-color: $dark_blue;
  ul.nav {
    a {
      color: $light_gray;
      &:hover {
        background-color: $dark_blue;
        color: $light_blue;
      }
    }
  }
}

/* footer */
footer {
  color: #777;

  hr {
    display: block;
    border: 3px solid #aaa;
    border-radius: 5px;
    border-color: $dark_gray;
  }

  small {
    float: left;
    color: $dark_blue;
  }
}

/* main page jumbotron */
.jumbotron {
  background-color: $light_gray;
  color: $dark_blue;
  h1 {
    color: $dark_gray;
  }
}
