<%= form_for(@suggestion) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Submit a new suggestion for the support team..." %>
  </div>
  <%= f.submit "Send", class: "btn, btn_primary" %>
<% end %>
