<%= provide(:title, "Suggestions") %>

<h1>Suggestions</h1>
<div class="suggestion-form">
  <%= render "suggestions/new" %>
</div>  
<ol class="suggestions">
  <%= render @suggestions %>
</ol>
<%= will_paginate %>
