<footer class="footer">
  <small>Apprenticeship Application by Andrew Lewin</small>
  <nav>
    <ul>
      <li><%= link_to "About", '#'  %></li>
      <li><a href="https://github.com/wirdnah/">GitHub</a></li>
      <li><a href="https://git.moneydesktop.com/dev/support_scripts">MX GitHub</a></li>
    </ul>
  </nav>
</footer>
